html,
body {
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#panneau-lateral-droit {
    position: absolute;
    top: 10%;
    right: -352px;
    width: 320px;
    height: 80vh;
    z-index: 999;
    background-color: #ffffff;
    border-top: 6px solid #3F89B6;
    border-right: none;
    border-radius: 0 0 0 4px;
    transition: all 0.3s ease-in;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 16px;
}

#panneau-lateral-droit.show {
    right: 0;
    transition: all 0.3s ease-in;
}

#panneau-lateral-droit h3 {
    text-align: center;
    color: #3F89B6;
}

#panneau-communes {
    position: absolute;
    top: -80vh;
    right: 440px;
    width: 70vw;
    z-index: 999;
    background-color: #ffffff;
    border-bottom: 6px solid #3F89B6;
    border-radius: 0 4px 4px 0;
    transition: all 0.3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 16px;
}

#croix {
    width: 32px;
    position: absolute;
    right: 16px;
    top: 16px;
}

#export {
    width: 32px;
}

#croix:hover {
    cursor: pointer;
}

#panneau-communes.down {
    top: 0;
    transition: all 0.3s ease-in;
}

#panneau-communes h3 {
    text-align: center;
    color: #3F89B6;
}

#panneau-communes .info-column {
    display: inline-block;
    width: 30%;
    /* Ajustez la largeur en fonction de la place disponible */
    vertical-align: top;
    margin: 4px 1%;
}

#panneau-communes .property-name {
    font-weight: bold;
    color: #3F89B6;
}

.mayane-commune {
    font-weight: bold;
}

#commune-info {
    border-top: 1px solid #3F89B6;
    padding-top: 8px;
}

#bouton {
    background-color: #619fc4;
    width: 80px;
    height: 80px;
    position: absolute;
    left: -80px;
    top: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    border-top: 6px solid #3d7ea4;
}

#export {
    background-color: #619fc4;
    width: 80px;
    height: 80px;
    position: absolute;
    left: -80px;
    top: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    border-top: 6px solid #3d7ea4;
}

#export img {
    width: 48px;
    height: 48px;
}

#bouton img {
    width: 48px;
    height: 48px;
}

#bouton-admin {
    background-color: #619fc4;
    width: 80px;
    height: 80px;
    position: absolute;
    left: -80px;
    top: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    border-top: 6px solid #3d7ea4;
    transition: all 0.3s ease-in;
}

#bouton-admin img {
    width: 48px;
    height: 48px;
}

#bouton-admin.not-connected {
    left: 800px;
    transition: all 0.3s ease-in;
}

#back-arrow {
    position: absolute;
    bottom: 24px;
    left: 24px;
    width: 48px;
    cursor: pointer;
}

#admin {
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: 48px;
    cursor: pointer;
}

#contenaire ul {
    column-count: 1;
    list-style: none;
    padding: 0;
    /* par défaut, on affiche la liste en une colonne */
}

#contenaire ul li {
    padding: 6px 0;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#contenaire ul li:hover {
    color: #619fc4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.2s ease-in;
}


/* FORMULAIRE MODAL */

#modal {
    position: absolute;
    width: 320px;
    height: 280px;
    top: calc(50% - 140px);
    left: calc(-50% - 160px);
    z-index: 999;
    background-color: aliceblue;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    transition: all 0.2s ease-in;
}

#modal.show-modal {
    top: calc(50% - 140px);
    left: calc(50% - 160px);
    z-index: 999;
    transition: all 0.2s ease-in;
}

#modal h3 {
    color: #3d7ea4;
    font-weight: bold;
    text-align: center;
}

#modal #login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    color: #3d7ea4;
}

#modal #login-form input {
    height: 30px;
    border: none;
    border-bottom: 1px solid #3d7ea4;
    border-radius: 4px;
}

#modal #login-form input[type="submit"] {
    color: aliceblue;
    font-weight: bold;
    font-size: 16px;
    background-color: #3d7ea4;
    height: 36px;
    cursor: pointer;
    border: 1px solid #3d7ea4;
    transition: all 0.2s ease-in;
    padding: 8px 16px;
}

#modal #login-form input[type="submit"]:hover {
    color: #3d7ea4;
    background-color: aliceblue;
    border: 1px solid #3d7ea4;
    transition: all 0.2s ease-in;
}


/* @media print {
    html,
    body,
    #map {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
} */